<a href="https://colab.research.google.com/github/Grayutani/Aula-projeto-python-data-science/blob/main/projeto_python_data_science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para Data Science

Notebook para o curso de Python para Data Science publicado na plataforma da [Alura](https://www.alura.com.br/)

# Introdução ao Python

Vamos conhecer o Python, nosso ambiente de estudo e também faremos nosso primeiro código nessa linguagem!

## Google Colaboratory

Já aprendemos o que é o [Python](https://www.python.org/) agora vamos aprender a utilzar o [Google Colaboratory](https://colab.research.google.com/) e programar em um notebook.

Vamos testar algumas funções dessa ferramenta.

 **`>>> Use essa célula para mover <<<`**

In [ ]:
10

10

## Olá mundo!

Vamso conhecer mais como funciona o ambiente interativo de um notebook. Para isso vamos executar nosso primeiro comando em Python: [`print()`](https://docs.python.org/3/library/functions.html#print)

In [ ]:
print('olá mundo!')

olá mundo!

In [ ]:
print(10)

10

In [ ]:
print('Grasiela', 41)

Grasiela 41

In [ ]:
print('Escola de dados Alura')

Escola de dados Alura

In [ ]:
print('Nome: [Grasiela]')
print('Sobrenome: [Yutani]')

Nome: [Grasiela]
Sobrenome: [Yutani]

In [ ]:
print('G')
print('R')
print('A')
print('S')
print('I')
print('E')
print('L')
print('A')

G
R
A
S
I
E
L
A

In [ ]:
print(20, 'Junho', 1983)

20 Junho 1983

In [ ]:
print('ano atual' ,2026)

ano atual 2026

In [ ]:
# Esse é um comentário de uma linha
print(10) # Podemos colocar outro comentário em uma linha após um código

10

In [ ]:
'''
Esse é um comentário
de várias linhas.
'''

'\nEsse é um comentário\nde várias linhas.\n'

In [ ]:
# Cabeçalho de nível 1
## Cabeçalho de nível 2
### Cabeçalho de nível 3

**Texto em negrito**

In [ ]:
print('*Texto em itálico*')

*Texto em itálico*

In [ ]:
print('**Texto em negrito**')

**Texto em negrito**

[Site da Alura](https://www.alura.com.br/)

*texto em italico*

* Item 1
* Item 2
* Item 3

1. Item 1
2. Item 2
3. Item 3

# Manipulando dados

Vamos aprender sobre as variáveis no python, como elas são declaradas e utilizadas além de conhecer outros comandos dentro do Python. :D

## Variáveis

Em Data Science nós trabalhamos com vários dados e informações, então é essencial saber trabalhar com variáveis.

Criamos uma variável no python através da atribuição de um valor a ela.

Para fazer isso, colocamos o nome da variável um sinal de igual (`=`) e o valor que queremos atribuir

In [ ]:
idade = 5

In [ ]:
print(idade)

5

In [ ]:
idade = 10
print(idade)

10

In [ ]:
idade = 15
idade

15

In [ ]:
nome = 'Gabriel'
nome

'Gabriel'

Nomes que **não** podemos definir para variáveis:

- **Nomes que começam com números**
  - Exemplos: `10_notas`, `2_nomes_casa`, etc.
- **Palavras separada por espaço**
  - Exemplos: `Nome escola`, `notas estudantes`, etc.
- **Nomes de funções do Python**
  - Exemplos: `print`, `type`, etc.

> Letras maiúsculas e minúsculas vão gerar diferentes variáveis. A varíavel `idade` é diferente de `Idade` que por sua vez também é diferente de `IDADE`:
``` Python
idade = 1
Idade = 2
IDADE = 3
_idade = 4
_idade_ = 5
print(idade, Idade, IDADE, _idade, _idade_)
1 2 3 4 5
```

## Tipos de variáveis

Cada variável contém uma classe especifica quanto ao tipo de objeto que ela está se referenciando. Essas classes vão ser diferentes a partir do tipo de dado que nós atribuimos a uma variável.

Para saber a classe de cada elemento usamos a função [`type()`](https://docs.python.org/3/library/functions.html#type)

In [ ]:
i = 5
type(i)

int

In [ ]:
f = 9.8
type(f)

float

In [ ]:
s = 'Grasiela'
type(s)

str

In [ ]:
b = True
type(b)

bool

Em um conjunto de dados escolares podemos ter vários tipos de informações. Digamos que tenhamos acesso à ficha de dados do aluno *Frabicio Daniel* como transformamos ela em variáveis no Python?

#### Ficha:

- Nome: Fabricio Daniel
- Idade: 15 anos
- Media do semestre: 8,45
- Situação de aprovação: Verdadeira (aprovado)

In [ ]:
nome_aluno = 'Fabricio Daniel'
idade_aluno = 15
media_aluno = 8.45
situacao_aprovado = True
print(nome_aluno, idade_aluno, media_aluno, situacao_aprovado)

Fabricio Daniel 15 8.45 True

## Variáveis numéricas

Entre os tipos de dados numéricos vamos nos focar no tipo `inteiro` e `float`.

Temos uma tabela de informação de empregos quanto ao cargo, quantidade de pessoas empregadas e o salário correspondente:

|Cargo | Quantidade | Salário|
|---|---|---|
|Segurança | 5 | 3000 |
|Docente | 16| 6000|
|Diretoria| 1 |12500|

Precisamos trabalhar com esses dados fornecendo:

- A quantidade total de empregados;
- A diferença entre o salário mais baixo e mais alto; e
- A média ponderada da faixa salarial da escola.

In [ ]:
q_seguranca = 5
s_seguranca = 3000

q_docente = 16
s_docente = 6000

q_diretoria = 1
s_diretoria = 12500

In [ ]:
total_empregados = q_seguranca + q_docente + q_diretoria
total_empregados

22

In [ ]:
diferenca_salario = s_diretoria - s_seguranca
diferenca_salario

9500

In [ ]:
media = (q_seguranca*s_seguranca + q_docente*s_docente + q_diretoria*s_diretoria) / (total_empregados)
media

5613.636363636364

In [ ]:
2**3

8

In [ ]:
operador = 2
potencia = 3
operador ** potencia

8

In [ ]:
7%3

1

In [ ]:
dividendo = 7
divisor = 3
dividendo % divisor

1

In [ ]:
7 // 3

2

In [ ]:
numerador = 7
denominador = 3
numerador // denominador

2

## Strings

Strings são caracterizada por ter um conjunto de caracteres formando um texto.

Strigs podem ser criadas ao atribuirmos a uma variável um dado que esteja entre aspas simples (`'`) ou aspas duplas (`"`)

In [ ]:
s1 = 'Alura'
s2 = "Alura"
print(type(s1),type(s2))

<class 'str'> <class 'str'>

As variáveis textuais contém vários métodos que nos ajudam a formatar strings. Métódos podem ser executados ao definirmos um objeto seguindo a seguinte estrutura:

```
objeto.metodo()
```

Existem métodos que não necessitam dos `()`, é preciso verificar a documentação de cada caso.

---
**Situação:**

Recebemos uma variável com o nome de uma professora da escola para inserimos no cadastro. No entanto, precisamos tratar esse texto antes de inserirmos no sistema

In [ ]:
texto = '  Geovana Alessandra dias Sanyos '

O objetivo final é que o nome esteja da seguinte forma:

```
'GEOVANA ALESSANDRA DIAS SANTOS'
```

### [`str.upper()` ](https://docs.python.org/3/library/stdtypes.html#str.upper)
Converte uma string para maiúsculas

In [ ]:
texto.upper()

'  GEOVANA ALESSANDRA DIAS SANYOS '

### [`str.lower()`](https://docs.python.org/3/library/stdtypes.html#str.lower)
Método converte uma string para minúsculas.

In [ ]:
texto.lower()

'  geovana alessandra dias sanyos '

### [`str.strip()`](https://docs.python.org/3/library/stdtypes.html#str.strip)
Método remove os espaços em branco do início e do fim de uma string.

In [ ]:
texto.strip()

'Geovana Alessandra dias Sanyos'

### [`str.replace(antigo, novo)`](https://docs.python.org/3/library/stdtypes.html#str.replace)

Método substitui todas as ocorrências do texto "antigo" na string por "novo"

In [ ]:
texto.replace('y','t')

'  Geovana Alessandra dias Santos '

### Observações

1. Os métodos retornam uma **tranformação**, não a executam no texto!

2. Além disso, podemos acumular a execução de métodos.

In [ ]:
texto

'  Geovana Alessandra dias Sanyos '

Para que seja executada a transformação nós podemos atribuir às saídas das transformações à variável

In [ ]:
texto = texto.strip().replace('y', 't').upper()
texto

'GEOVANA ALESSANDRA DIAS SANTOS'

In [ ]:
chr(64)

'@'

In [ ]:
chr(79) + chr(108) + chr(225)

'Olá'

In [ ]:
chr(71) + chr(82) + chr(65)

'GRA'

## Coletando dados

Em algumas aplicações precisamos coletar valores da pessoa usuária do nosso projeto. Em python conseguimos coletar dados de usuário através do comando [`input()`](https://docs.python.org/3/library/functions.html#input).

Para fazer essa coleta podemos atribuir essa função à uma variável.

In [ ]:
nome = input('Escreva seu nome:')

Escreva seu nome:Grasiela

In [ ]:
nome

'Grasiela'

O retorno desse comando sempre será uma *string*. Isso quer dizer que mesmo que façamos uma coleta de algo que deva ser numérico, ele será uma string.

Então, será preciso **converter o resultado caso não seja desejável obter uma string**.

Existem funções para conversão de valores:

- Inteiros: [`int(dado_para_conversao)`](https://docs.python.org/3/library/functions.html#int)
- Float: [`float(dado_para_conversao)`](https://docs.python.org/3/library/functions.html#float)
- String: [`str(dado_para_conversao)`](https://docs.python.org/3/library/functions.html#func-str)
- Booleano: [`bool(dado_para_conversao)`](https://docs.python.org/3/library/functions.html#bool)

In [ ]:
ano_entrada = input('Escreva o ano de ingresso do(a) estudante: ')

Escreva o ano de ingresso do(a) estudante: 2026

In [ ]:
type(ano_entrada)

str

In [ ]:
ano_entrada = int(input('Escreva o ano de ingresso do(a) estudante: '))

Escreva o ano de ingresso do(a) estudante: 2026

In [ ]:
type(ano_entrada)

int

Buscaremos apresentar melhor agora o resultado que obtivemos da transformação. Nós conseguimos formatar e apresentar o nosso resultado misturando strings com valores não textuais.

Para fazer isso usamos a estrutura de formatação `f` com strings.

In [ ]:
nota_entrada = float(input('Digite a nota do teste de ingresso: '))
print(f'Ano de entrada {ano_entrada} - nota do teste de engresso {nota_entrada}')

Digite a nota do teste de ingresso: 9.0
Ano de entrada 2026 - nota do teste de engresso 9.0

In [ ]:
nome = "Ana Maria"
idade = 17
print(f"O nome da aluna é {nome} e sua idade é {idade} anos.")

O nome da aluna é Ana Maria e sua idade é 17 anos.

In [ ]:
nome_aluno = 'Fabricio Daniel'

print('Nome do aluno: %s' %(nome_aluno))

Nome do aluno: Fabricio Daniel

In [ ]:
nome_aluno = 'Fabricio Daniel'
idade_aluno = 15
media_aluno = 8.45

print('Nome do aluno é %s, ele tem %d anos e sua média é %f.' %(nome_aluno, idade_aluno, media_aluno))

Nome do aluno é Fabricio Daniel, ele tem 15 anos e sua média é 8.450000.

In [ ]:
print('Nome do aluno é %s, ele tem %d anos e sua média é %.2f.' %(nome_aluno, idade_aluno, media_aluno))

Nome do aluno é Fabricio Daniel, ele tem 15 anos e sua média é 8.45.

In [ ]:
x = True
print("Valor de x: %s" % str(x))

Valor de x: True

In [ ]:
nome_aluno = 'Fabricio Daniel'

print('Nome do aluno: {}'.format(nome_aluno))

Nome do aluno: Fabricio Daniel

In [ ]:
nome_aluno = 'Fabricio Daniel'

print('Nome do aluno: {}'.format(nome_aluno))

Nome do aluno: Fabricio Daniel

In [ ]:
nome_aluno = 'Fabricio Daniel'
idade_aluno = 15
media_aluno = 8.45

print('Nome do aluno é {}, ele tem {} anos e sua média é {}.' .format(nome_aluno, idade_aluno, media_aluno))

Nome do aluno é Fabricio Daniel, ele tem 15 anos e sua média é 8.45.

In [ ]:
print("Estudar é um esforço constante,\nÉ como cultivar uma planta,\nPrecisamos de dedicação e paciência,\nPara ver o fruto amadurecer.")

Estudar é um esforço constante,
É como cultivar uma planta,
Precisamos de dedicação e paciência,
Para ver o fruto amadurecer.

In [ ]:
print('Quantidade\tQualidade\n5 amostras\tAlta\n3 amostras\tBaixa')

Quantidade	Qualidade
5 amostras	Alta
3 amostras	Baixa

In [ ]:
print("Caminho do arquivo: C:\\arquivos\\documento.csv")

Caminho do arquivo: C:\arquivos\documento.csv

In [ ]:
print("Ouvi uma vez \"Os frutos do conhecimento são os mais doces e duradouros de todos.\"")

Ouvi uma vez "Os frutos do conhecimento são os mais doces e duradouros de todos."

In [ ]:
print('Ouvi uma vez "Os frutos do conhecimento são os mais doces e duradouros de todos."')

Ouvi uma vez "Os frutos do conhecimento são os mais doces e duradouros de todos."

In [ ]:
print('Minha professora uma vez disse \'Estudar é a chave do sucesso.\' ')

Minha professora uma vez disse 'Estudar é a chave do sucesso.'

In [ ]:
nome = input('nome: ')

nome: Grasiela

In [ ]:
nome = 'Grasiela'
print('Olá, {}'.format(nome))

Olá, Grasiela

In [ ]:
nome = input('nome: ')
idade = input('idade: ')

nome: Grasiela
idade: 41

In [ ]:
nome = 'Grasiela'
idade = 41
print('Ola, {} voce tem {} anos' .format(nome, idade))

Ola, Grasiela voce tem 41 anos

In [ ]:
nome = 'Grasiela'
idade = 41
altura = 1.53
print('Ola, {} voce tem {} anos e mede {}'.format(nome, idade, altura))

Ola, Grasiela voce tem 41 anos e mede 1.53

In [ ]:
nota_1 = 5
nota_2 = 10
print(nota_1 + nota_2)

15

In [ ]:
carro_1 = 50000
carro_2 = 70000
carro_3 = 150000
print(carro_1 + carro_2 + carro_3)

270000

In [ ]:
carro_1 = 50000
carro_2 = 70000
print(carro_1 - carro_2)

-20000

In [ ]:
carro_1 = 50000
carro_2 = 70000
print(carro_1 * carro_2)

3500000000

In [ ]:
dividendo = 8
divisor = 3
dividendo % divisor

2

In [ ]:
operador = 4
potencia = 9
operador ** potencia

262144

In [ ]:
Nota_1 = 8
Nota_2 = 7
Nota_3 = 10
media = (Nota_1 + Nota_2 + Nota_3)/ 3
print(media)

8.333333333333334

In [ ]:
Nota_1 = 5
Nota_2 = 12
Nota_3 = 20
Nota_4 = 15
media = (Nota_1 +Nota_2 +Nota_3 +Nota_4)/ 4
print(media)

13.0

In [ ]:
variavel = 'frase'

print('variavel: %s' %(variavel))

variavel: frase

In [ ]:
frase = input('Digite uma frase')

Digite uma fraseBom dia flor do dia

In [ ]:
frase = input('Digite uma frase')

Digite uma fraseBom dia flor do dia

texto = texto.upper()

In [ ]:
texto = 'Bom dia flor do dia'
texto = texto.upper()
print(texto)

BOM DIA FLOR DO DIA

In [ ]:
texto = 'Bom dia flor do dia'
texto = texto.lower()
print(texto)

bom dia flor do dia

In [ ]:
frase = 'Bom dia flor do dia'
frase = frase.strip()
print(frase)

Bom dia flor do dia

In [ ]:
frase = 'Bom dia flor do dia'
frase = frase.strip().lower()
print(frase)

bom dia flor do dia

In [ ]:
frase = input(' Digite uma frase')

 Digite uma fraseelefante colorido

In [ ]:
frase = 'elefante colorido'
frase = frase.replace('e', 'f')
print(frase)

flffantf colorido

In [ ]:
frase = input(' Digite uma frase')

 Digite uma fraseA vida e bela

In [ ]:
frase = 'A vida é bela'
frase = frase.replace('a', '@')
print(frase)

A vid@ é bel@

In [ ]:
frase = input('Digite uma frase com sapo')

Digite uma frase com sapoO sapo nada na logoa com a sapa dele

In [ ]:
frase = 'O sapo nada na logoa com a sapa dele'
frase = frase.replace('s', '$')
print(frase)

O $apo nada na logoa com a $apa dele

In [ ]:
nome = input('Digite seu nome: ')
print(f'Olá, {nome}.')

Digite seu nome: Grasiela
Olá, Grasiela.

In [ ]:
nome = input('Digite seu nome: ')
idade = int(input('Digite sua idade: '))
print(f'Olá {nome}, você tem {idade} anos.')

Digite seu nome: Grasiela
Digite sua idade: 41
Olá Grasiela, você tem 41 anos.

In [ ]:
nome = input('Digite seu nome: ')
idade = int(input('Digite sua idade: '))
altura = float(input('Digite sua altura: '))
print(f'Olá {nome}, você tem {idade} anos e mede {altura} metros!')

Digite seu nome: Grasiela
Digite sua idade: 41
Digite sua altura: 1.53
Olá Grasiela, você tem 41 anos e mede 1.53 metros!

In [ ]:
a = int(input('Digite o primeiro valor: '))
b = int(input('Digite o segundo valor: '))
print(a+b)

Digite o primeiro valor: 10
Digite o segundo valor: 20
30

In [ ]:
a = int(input('Digite o primeiro valor: '))
b = int(input('Digite o segundo valor: '))
c = int(input('Digite o terceiro valor: '))
print(a+b+c)

Digite o primeiro valor: 5
Digite o segundo valor: 2
Digite o terceiro valor: 3
10

In [ ]:
a = int(input('Digite o primeiro valor: '))
b = int(input('Digite o segundo valor: '))
print(a-b)

Digite o primeiro valor: 10
Digite o segundo valor: 5
5

In [ ]:
a = int(input('Digite o primeiro valor: '))
b = int(input('Digite o segundo valor: '))
print(a*b)

Digite o primeiro valor: 10
Digite o segundo valor: 10
100

In [ ]:
numerador = int(input('Digite o numerador: '))
denominador = int(input('Digite o denominador (OBS: o valor não pode ser nulo): '))
print(numerador/denominador)

Digite o numerador: 10
Digite o denominador (OBS: o valor não pode ser nulo): 50
0.2

In [ ]:
operador = int(input('Digite o operador valor: '))
potencia = int(input('Digite a potência valor: '))
print(operador**potencia)

Digite o operador valor: 10
Digite a potência valor: 10
10000000000

In [ ]:
numerador = int(input('Digite o numerador: '))
denominador = int(input('Digite o denominador (OBS: o valor não pode ser nulo): '))
print(numerador//denominador)

Digite o numerador: 5
Digite o denominador (OBS: o valor não pode ser nulo): 2
2

In [ ]:
numerador = int(input('Digite o numerador: '))
denominador = int(input('Digite o denominador (OBS: o valor não pode ser nulo): '))
print(numerador%denominador)

Digite o numerador: 6
Digite o denominador (OBS: o valor não pode ser nulo): 3
0

In [ ]:
nota_1 = float(input('Digite a 1° nota: '))
nota_2 = float(input('Digite a 2° nota: '))
nota_3 = float(input('Digite a 3° nota: '))
print(f'Média {(nota_1+nota_2+nota_3)/3}.')

Digite a 1° nota: 8
Digite a 2° nota: 7
Digite a 3° nota: 10
Média 8.333333333333334.

In [ ]:
media_ponderada = (5*1 + 12*2 + 20*3 + 15*4) / (1+2+3+4)
print(f'Média {media_ponderada}.')

Média 14.9.

In [ ]:
frase = input('Digite uma frase: ')
print(frase.upper())

Digite uma frase: Bom dia flor do dia
BOM DIA FLOR DO DIA


# Estruturas condicionais

## `IF` e `ELSE`

O `if` e `else` são duas estruturas condicionais. O `if` executará o bloco de comando caso a condição colocada for **verdadeira**. O `else` é um caso em que a condicional de `if` seja **falsa**.

O `if` é uma palavra-chave em Python que significa "se". Ele é usado para formar uma estrutura condicional, que permite que você verifique se uma determinada condição é verdadeira ou falsa e, em seguida, execute um bloco de código específico dependendo do resultado da verificação. A sintaxe para usar o `if` é:



```
if condição:
    # faça algo
```

In [ ]:
if 2 > 7:
  print('condição verdadeira')
  print()
print('fora do bloco')

fora do bloco

Já o `else` em Python é usada em conjunto com a palavra-chave `if` para formar uma estrutura condicional. A sintaxe para usar o `else` é:

```
if condição:
  # código caso seja verdade
else:
  # código caso seja falso
```

O `else` é executado quando a condição verificada pelo `if` é avaliada como `False`.

In [ ]:
idade_maria = int(input('Digite a idade da Maria: '))
idade_beatriz = int(input('Digite a idade da Beatriz: '))

if idade_maria > idade_beatriz:
  print('Maria é mais velha que Beatriz.')

Digite a idade da Maria: 52
Digite a idade da Beatriz: 40
Maria é mais velha que Beatriz.

In [ ]:
idade_maria = int(input('Digite a idade da Maria: '))
idade_beatriz = int(input('Digite a idade da Beatriz: '))

if idade_maria < idade_beatriz:
  print('Maria é mais nova que Beatriz.')

Digite a idade da Maria: 30
Digite a idade da Beatriz: 34
Maria é mais nova que Beatriz.

In [ ]:
empregados_empresa_1 = int(input('Digite a quantidade de empregados da empresa 1: '))
empregados_empresa_2 = int(input('Digite a quantidade de empregados da empresa 2: '))

if empregados_empresa_1 >= empregados_empresa_2:
  print('Empresa 1 tem uma quantidade de empregados maior ou igual à empresa 2.')

Digite a quantidade de empregados da empresa 1: 300
Digite a quantidade de empregados da empresa 2: 150
Empresa 1 tem uma quantidade de empregados maior ou igual à empresa 2.

In [ ]:
empregados_empresa_1 = int(input('Digite a quantidade de empregados da empresa 1: '))
empregados_empresa_2 = int(input('Digite a quantidade de empregados da empresa 2: '))

if empregados_empresa_1 <= empregados_empresa_2:
  print('Empresa 1 tem uma quantidade de empregados menor ou igual à empresa 2.')

Digite a quantidade de empregados da empresa 1: 200
Digite a quantidade de empregados da empresa 2: 200
Empresa 1 tem uma quantidade de empregados menor ou igual à empresa 2.

In [ ]:
livro_1 = input('Digite o título do 1° livro: ')
livro_2 = input('Digite o título do 2° livro: ')

if livro_1 == livro_2:
  print('Os livros têm o mesmo título')

Digite o título do 1° livro: A poética da programação
Digite o título do 2° livro: A poética da programação
Os livros têm o mesmo título

In [ ]:
livro_1 = input('Digite o título do 1° livro: ')
livro_2 = input('Digite o título do 2° livro: ')

if livro_1 != livro_2:
  print('Os livros têm títulos diferentes')

Digite o título do 1° livro: A poética da programação
Digite o título do 2° livro: A poesia do código
Os livros têm títulos diferentes

---
**Situação:**

Receberemos a média de estudantes e precisamos de um algoritmo que execute a análise e decida se esse estudante está **Aprovado** ou Reprovado, mostrando uma mensagem do resultado. Para ser aprovado, a média precisa ser igual ou superior à 6.0.

In [ ]:
media = float(input('Digite a média: '))
if media >= 6.0:
  print('aprovado(a)')
else:
  print('reprovado(a)')

Digite a média: 4.0
reprovado(a)

Agora a nossa instituição de ensino lançou uma nota oficial que pessoas que tenham média entre 4.0 e 6.0 podem fazer os cursos de **Recuperação** nas férias para poder recuperar a nota.

Então podemos agora fazer um conjunto de `if`s para que possamos estruturar essa nova condição.

In [ ]:
media = float(input('Digite a média: '))
if media >= 6.0:
  print('aprovado(a)')
if 6.0 > media >= 4.0:
  print('recuperação')
if media < 4.0:
  print('reprovado(a)')

Digite a média: 5.0
recuperação

Notemos que em casos com 3 situações como esse precisamos definir bem nossas condições. Pois foi feita uma construção com `else` no final, ele irá considerar apenas a alguma condicional para ser o caso **falso** podendo resultar em duas (ou mais) execuções.

Por exemplo:

In [ ]:
media = float(input('Digite a média: '))
if media >= 6.0:
  print('aprovado(a)')
if 6.0 > media >= 4.0:
  print('recuperação')
else:
  print('reprovado(a)')

Digite a média: 7.0
aprovado(a)
reprovado(a)

## `ELIF`

O `elif` é uma palavra-chave em Python que significa "senão, se" e pode ser considerado uma união do `else` com um `if`. Ela é usada em conjunto com a palavra-chave `if` para formar uma estrutura condicional encadeada.

A sintaxe para usar o `elif` é:

```
if condição1:
    # faça algo
elif condição2:
    # faça outra coisa
elif condição3:
    # faça mais alguma coisa
else:
    # faça algo diferente
```

O `elif` permite que você verifique várias condições de forma encadeada, economizando espaço em seu código. Se a primeira condição for avaliada como `False`, o interpretador Python avaliará a próxima condição no `elif`. Isso continuará até que uma condição seja avaliada como `True` ou até que o `else` seja atingido. Se nenhuma das condições forem avaliadas como `True`, a execução do código do `else` será iniciada.

Vamos usar o mesmo caso anterior:

In [ ]:
media = float(input('Digite a média: '))
if media >= 6.0:
  print('aprovado(a)')
elif 6.0 > media >= 4.0:
  print('recuperação')
else:
  print('reprovado(a)')

Digite a média: 5.0
recuperação

## Operadores

Durante a construção de comandos por vezes precisamos de uma elaboração maior de da expressão condicional, necessitando que alguns operadores lógicos estejam integrados.

### `AND`, `OR`, `NOT`

Os operadores lógicos `and`, `or` e `not` são usados para combinar expressões lógicas em Python. Eles são usados frequentemente em conjunto com o `if` para criar estruturas condicionais mais complexas.

- `AND` é usado para verificar se duas condições são verdadeiras. A expressão lógica¹ `x and y` é avaliada como `True` apenas se **ambas as condições `x` e `y` forem verdadeiras**, e como `False` caso contrário.

- `OR` é usado para verificar se pelo menos uma das condições é verdadeira. A expressão lógica `x or y` é avaliada como `True` **se pelo menos uma das condições `x` ou `y` for verdadeira**, e como `False` se ambas forem falsas.

- `NOT` é usado para **negar uma condição**. A expressão lógica not x é avaliada como True se a condição x for falsa, e como False se a condição x for verdadeira.

¹ Uma expressão lógica é uma declaração que pode ser avaliada como verdadeira ou falsa. Ela é composta por operandos lógicos² e operadores lógicos³, que são usados ​​para combinar várias expressões lógicas em uma única expressão.

² Os operandos lógicos são os elementos que são comparados ou avaliados em uma expressão lógica. Eles são geralmente valores verdadeiros ou falsos, mas também podem ser expressões lógicas mais complexas. Em Python, os operandos lógicos são os valores `True` e `False`.

³ Os operadores lógicos são os símbolos ou palavras-chave que são usados ​​para combinar várias expressões lógicas em uma única expressão. Em Python, os operadores lógicos são `and`, `or` e `not`, bem como as palavras-chave `if`, `elif` e `else`.

In [ ]:
t1 = t2 = True
f1 = f2 = False

In [ ]:
if t1 and f2:
  print('expressão verdadeira')
else:
  print('expressão falsa')

expressão falsa

In [ ]:
if t1 or f2:
  print('expressão verdadeira')
else:
  print('expressão falsa')

expressão verdadeira

In [ ]:
if not t1:
  print('expressão verdadeira')
else:
  print('expressão falsa')

expressão falsa

### `IN`

É usado para verificar se um elemento está presente em uma lista, tupla ou outra variável de conjunto. A expressão `x in y` é avaliada como `True` se o elemento `x` estiver presente na variável de conjunto `y`, e como `False` caso contrário.

Podemos verificar isso com variáveis de texto.

---

**Situação:**

Na escola foi passada uma lista com nomes de estudantes que foram aprovados por média no semestre, mas é preciso verificar se alguns nomes estão nessa lista para verificar se os dados estão corretos.

A lista distribuida pode ser observada abaixo:

```
lista = 'José da Silva, Maria Oliveira, Pedro Martins, Ana Souza, Carlos Rodrigues, Juliana Santos, Bruno Gomes, Beatriz Costa, Felipe Almeida, Mariana Fernandes, João Pinto, Luísa Nascimento, Gabriel Souza, Manuela Santos, Thiago Oliveira, Sofia Ferreira, Rafael Albuquerque, Isabella Gomes, Bruno Costa, Maria Martins, Rafaela Souza, Matheus Fernandes, Luísa Almeida, Beatriz Pinto, Mariana Rodrigues, Gabriel Nascimento, João Ferreira, Maria Albuquerque, Felipe Oliveira
'
```

Os nomes que precisam ser verificados são os seguintes:

```
nome_1 = 'Mariana Rodrigues'
nome_2 = 'Marcelo Nogueira'
```

In [ ]:
lista = 'José da Silva, Maria Oliveira, Pedro Martins, Ana Souza, Carlos Rodrigues, Juliana Santos, Bruno Gomes, Beatriz Costa, Felipe Almeida, Mariana Fernandes, João Pinto, Luísa Nascimento, Gabriel Souza, Manuela Santos, Thiago Oliveira, Sofia Ferreira, Rafael Albuquerque, Isabella Gomes, Bruno Costa, Maria Martins, Rafaela Souza, Matheus Fernandes, Luísa Almeida, Beatriz Pinto, Mariana Rodrigues, Gabriel Nascimento, João Ferreira, Maria Albuquerque, Felipe Oliveira'
lista

'José da Silva, Maria Oliveira, Pedro Martins, Ana Souza, Carlos Rodrigues, Juliana Santos, Bruno Gomes, Beatriz Costa, Felipe Almeida, Mariana Fernandes, João Pinto, Luísa Nascimento, Gabriel Souza, Manuela Santos, Thiago Oliveira, Sofia Ferreira, Rafael Albuquerque, Isabella Gomes, Bruno Costa, Maria Martins, Rafaela Souza, Matheus Fernandes, Luísa Almeida, Beatriz Pinto, Mariana Rodrigues, Gabriel Nascimento, João Ferreira, Maria Albuquerque, Felipe Oliveira'

In [ ]:
nome_1 = 'Mariana Rodrigues'
nome_2 = 'Marcelo Nogueira'

In [ ]:
if nome_1 in lista:
  print(f'{nome_1} está na lista')
else:
  print(f'{nome_1} não está na lista')

Mariana Rodrigues está na lista

In [ ]:
if nome_2 in lista:
  print(f'{nome_2} está na lista')
else:
  print(f'{nome_2} não está na lista')

Marcelo Nogueira não está na lista

In [ ]:
# Coletar os números
num1 = float(input('Digite o 1° número: '))
num2 = float(input('Digite o 2° número: '))

# Comparamos ambos os números e descobrimos qual é o maior
if num1 > num2:
    print(f'O primeiro número é maior: {num1}')
elif num2 > num1:
    print(f'O segundo número é maior: {num2}')
else: # Caso os números sejam iguais
    print('Os dois números são iguais.')

Digite o 1° número: 6
Digite o 2° número: 2
O primeiro número é maior: 6.0

In [ ]:
# Coleta do percentual
variacao = float(input('Digite o percentual de crescimento: '))

# Verifica se o valor é positivo ou negativo com uma verificação se o número
# é maior ou menor que 0
if variacao > 0:
    print(f'Houve um crescimento de {variacao}%')
elif variacao < 0:
    print(f'Houve um decrescimento de {variacao}%')
else:
    print('Não houve crescimento ou decrescimento.')

Digite o percentual de crescimento: 5
Houve um crescimento de 5.0%

In [ ]:
# Coletamos a letra da pessoa usuária como minúscula
letra = input('Digite uma letra: ').lower()
vogais = 'aeiou' # string contendo todos os dados

# Verificamos se a letra está nas vogais com in
if letra in vogais:
    print('A letra é uma vogal.')
else:
    print('A letra é uma consoante.')

Digite uma letra: g
A letra é uma consoante.

In [ ]:
# Coletamos os preços dos 3 anos
preco_ano1 = float(input('Informe o preço médio do carro no primeiro ano: '))
preco_ano2 = float(input('Informe o preço médio do carro no segundo ano: '))
preco_ano3 = float(input('Informe o preço médio do carro no terceiro ano: '))

# Determinamos o maior valor através de comparações
maior = preco_ano1
if preco_ano2 > maior:
  maior = preco_ano2
if preco_ano3 > maior:
  maior = preco_ano3

# Determinamos o menor valor através de comparações
menor = preco_ano1
if preco_ano2 < menor:
  menor = preco_ano2
if preco_ano3 < menor:
  menor = preco_ano3

# Mostramos o resultado
print(f'O preço mais alto foi de R$ {maior}.')
print(f'O preço mais baixo foi de R$ {menor}.')

Informe o preço médio do carro no primeiro ano: 20000
Informe o preço médio do carro no segundo ano: 30000
Informe o preço médio do carro no terceiro ano: 40000
O preço mais alto foi de R$ 40000.0.
O preço mais baixo foi de R$ 20000.0.

In [ ]:
# Coletamos os preços dos três produtos
p1 = float(input('Digite o preço do primeiro produto: '))
p2 = float(input('Digite o preço do segundo produto: '))
p3 = float(input('Digite o preço do terceiro produto: '))

# Verificamos qual produto é o mais barato usando o operador lógico 'and'
if p1 < p2 and p1 < p3:
    print('O primeiro produto é o mais barato.')
elif p2 < p1 and p2 < p3:
    print('O segundo produto é o mais barato.')
elif p3 < p1 and p3 < p2:
    print('O terceiro produto é o mais barato.')
elif p1 == p2 == p3:
    print('Os produtos possuem o mesmo preço.')
else:
    # Identificamos quais produtos possuem o mesmo preço, se for o caso
    if p1 == p2:
        print('O primeiro e o segundo produtos são os mais baratos.')
    elif p2 == p3:
        print('O segundo e terceiro produtos são os mais baratos.')
    elif p1 == p3:
        print('O primeiro e o terceiro produtos são os mais baratos.')

Digite o preço do primeiro produto: 10
Digite o preço do segundo produto: 50
Digite o preço do terceiro produto: 30
O primeiro produto é o mais barato.

In [ ]:
# Coletamos os 3 números
num1 = int(input('Informe o primeiro número: '))
num2 = int(input('Informe o segundo número: '))
num3 = int(input('Informe o terceiro número: '))

# Comparação entre os 3 números
if (num1 >= num2) and (num1 >= num3):
    print(num1)
    if num2 >= num3:
        print(num2)
        print(num3)
    else:
        print(num3)
        print(num2)
elif (num2 >= num1) and (num2 >= num3):
    print(num2)
    if num1 >= num3:
        print(num1)
        print(num3)
    else:
        print(num3)
        print(num1)
else:
    print(num3)
    if num1 >= num2:
        print(num1)
        print(num2)
    else:
        print(num2)
        print(num1)

Informe o primeiro número: 10
Informe o segundo número: 8
Informe o terceiro número: 4
10
8
4

In [ ]:
# Coletamos o turno de estudo
turno = input('Digite em qual turno você estuda (manhã, tarde ou noite): ')

# Comparamos a entrada com todas as opções e imprimimos o resultado.
if turno == 'manhã':
  print('Bom Dia!')
elif turno == 'tarde':
  print('Boa Tarde!')
elif turno == 'noite':
  print('Boa Noite!')
else:
  print('Valor Inválido!')

Digite em qual turno você estuda (manhã, tarde ou noite): noite
Boa Noite!

In [ ]:
# Coletamos os dados
num = int(input('Digite um número: '))

# Verificamos se o número é par através do resultado do módulo
if num % 2 == 0:
    print('O número é par.')
else:
    print('O número é ímpar.')

Digite um número: 5
O número é ímpar.

In [ ]:
# Coletamos os dados
num = float(input('Digite um número: '))

# Verificamos se o número é inteiro ou decimal através do resultado do módulo
if num % 1 == 0:
    print('O número é inteiro.')
else:
    print('O número é decimal.')

Digite um número: 0
O número é inteiro.

In [ ]:
# Coletamos os números a serem operados e solicitamos a operação desejada pela pessoa usuária
num1 = float(input('Informe o primeiro número: '))
num2 = float(input('Informe o segundo número: '))
operacao = input('Informe a operação desejada (+, -, *, /): ')

# Verificamos o operador que foi selecionado e executa a operação matemática conforme a seleção
if operacao == '+':
    resultado = num1 + num2
elif operacao == '-':
    resultado = num1 - num2
elif operacao == '*':
    resultado = num1 * num2
elif operacao == '/':
    resultado = num1 / num2
else: # Especificamos um resultado caso a pessoa usuária não digite alguma das operações corretamente.
    print('Operação inválida, resultado da operação será 0')
    resultado = 0

#  Fazemos as mesmas verificações das questões anteriores para fazer o relatório do cálculo entre números
if resultado % 1 == 0:
    print('O resultado é inteiro.')
else:
    print('O resultado é decimal.')

if resultado > 0:
    print('O resultado é positivo.')
elif resultado == 0:
    print('O resultado é neutro.')
else:
    print('O resultado é negativo.')

if resultado % 2 == 0:
    print('O resultado é par.')
else:
    print('O resultado é ímpar.')

Informe o primeiro número: 10
Informe o segundo número: 5
Informe a operação desejada (+, -, *, /): +
O resultado é inteiro.
O resultado é positivo.
O resultado é ímpar.

In [ ]:
# Coletamos os lados de um triângulo
print('Coletaremos os lados de um triângulo.')
lado1 = float(input('Digite o comprimento do primeiro lado: '))
lado2 = float(input('Digite o comprimento do segundo lado: '))
lado3 = float(input('Digite o comprimento do terceiro lado: '))

# Verificamos de os lados formam um triângulo
if (lado1 + lado2 > lado3) and (lado2 + lado3 > lado1) and (lado1 + lado3 > lado2):
    print('Os valores podem formar um triângulo!')
    # comparamos os lados para verificar o tipo de triângulo
    if (lado1 == lado2) and (lado2 == lado3):
        print('O triângulo é equilátero.')
    elif (lado1 != lado2) and (lado2 != lado3) and (lado1 != lado3):
        print('O triângulo é escaleno.')
    else:
        print('O triângulo é isósceles.')
else:
    print('Os valores não podem formar um triângulo!')

Coletaremos os lados de um triângulo.
Digite o comprimento do primeiro lado: 3
Digite o comprimento do segundo lado: 3
Digite o comprimento do terceiro lado: 5
Os valores podem formar um triângulo!
O triângulo é isósceles.

In [ ]:
# Coletamos a quantidade de litros e o tipo de combustível,
# já deixando o caractere em maiúsculo para facilitar nossa análise
quantidade_litros = float(input('Informe a quantidade de litros vendidos: '))
tipo_combustivel = input('Informe o tipo de combustível (E para etanol e D para diesel): ').upper()

#  Verificamos primeiro o tipo de combustível
if tipo_combustivel == 'E':
  # Taxamos o valor do preço em litros do etanol
  preco_litro = 1.70
  # De acordo com o valor da quantidade de litros, taxamos também o desconto
  if quantidade_litros <= 15:
    desconto = 0.02
  else:
    desconto = 0.04
elif tipo_combustivel == 'D':
  # Taxamos o valor do preço em litros do disel
  preco_litro = 2.00
  # De acordo com o valor da quantidade de litros, taxamos também o desconto
  if quantidade_litros <= 15:
    desconto = 0.03
  else:
    desconto = 0.05
# Caso ocorra um erro na especificação de tipo de combustível,
# consideramos entradas inválidas, e os preços são taxados em 0
else:
    print('Entradas inválidas!')
    preco_litro = 0
    desconto = 0

# Fazemos o cálculo do valor de desconto, seguido do cálculo do preço descontado
valor_desconto = preco_litro * quantidade_litros * desconto
valor_pago = preco_litro * quantidade_litros - valor_desconto

# Resultado
print(f'Valor a ser pago pelo cliente: R$ {valor_pago}')

Informe a quantidade de litros vendidos: 5
Informe o tipo de combustível (E para etanol e D para diesel): E
Valor a ser pago pelo cliente: R$ 8.33

In [ ]:
# Coletamos os valores de início e fim
inicio = int(input('Insira o primeiro número inteiro: '))
fim = int(input('Insira o segundo número inteiro: '))

# Verificamos se o valor de início é maior que o fim
if inicio < fim:
  # podemos imprimir os inteiros entre o menor e o maior valor
  for i in range(inicio + 1, fim):
    print(i)
elif inicio > fim:
  for i in range(fim + 1, inicio):
    print(i)
else: #caso os números sejam iguais, não conseguimos imprimir sequência alguma
  print('Os números são iguais.')

Insira o primeiro número inteiro: 10
Insira o segundo número inteiro: 5
6
7
8
9

In [ ]:
# número inicial de bactérias
colonia_a = 4
colonia_b = 10

# taxas de crescimento das colônias
taxa_a = 0.03
taxa_b = 0.015

# contador de dias
dias = 0

# A condição que finaliza o laço é o caso em que
# a colônia A ultrapasse a colônia B
while colonia_a <= colonia_b:
  # usamos um operador de atribuição com multiplicação
  colonia_a *= 1 + taxa_a
  colonia_b *= 1 + taxa_b
  # contamos o dia para cada iteração
  dias += 1

# resultado final
print(f'Irá levar {dias} dias para a colônia A ultrapassar a colônia B.')

Irá levar 63 dias para a colônia A ultrapassar a colônia B.

In [ ]:
# laço para pegar as 15 notas
for i in range(15):
  nota = float(input(f'Insira a nota da pessoa usuária {i}: '))

  # verifica se a nota está entre 0 e 5
  # se estiver, o laço rodará ininterruptamente até ser obtido um valor válido
  while (nota < 0) or (nota > 5):
    nota = float(input(f'Nota inválida, insira novamente a nota da pessoa usuária {i}: '))

print('Verificação feita. Todas as notas são válidas')

Insira a nota da pessoa usuária 0: 8
Nota inválida, insira novamente a nota da pessoa usuária 0: 5
Insira a nota da pessoa usuária 1: 4
Insira a nota da pessoa usuária 2: 3
Insira a nota da pessoa usuária 3: 5
Insira a nota da pessoa usuária 4: 6
Nota inválida, insira novamente a nota da pessoa usuária 4: 2
Insira a nota da pessoa usuária 5: 1
Insira a nota da pessoa usuária 6: 5
Insira a nota da pessoa usuária 7: 4
Insira a nota da pessoa usuária 8: 6
Nota inválida, insira novamente a nota da pessoa usuária 8: 3
Insira a nota da pessoa usuária 9: 2
Insira a nota da pessoa usuária 10: 1
Insira a nota da pessoa usuária 11: 2
Insira a nota da pessoa usuária 12: 5
Insira a nota da pessoa usuária 13: 4
Insira a nota da pessoa usuária 14: 3
Verificação feita. Todas as notas são válidas

In [ ]:
# coletamos a temperatura
temperatura = float(input('Insira a temperatura em Celsius: '))

# inicializamos uma contadora e soma para a média
contadora = 0
soma = 0

# nosso código executa sempre até o valor de temperatura for igual a -273
while temperatura != -273:
    # a soma é dada com a adição da temperatura à variavel soma
    soma += temperatura
    # contamos a quantidade de valores coletados através da contadora
    contadora += 1
    # coletamos novamente a temperatura
    temperatura = float(input('Insira a temperatura em Celsius: '))

media = soma / contadora

print(f'A média das temperaturas é: {media}')

Insira a temperatura em Celsius: -272
Insira a temperatura em Celsius: -273
A média das temperaturas é: -272.0

In [ ]:
# Pedir o número
num = int(input('Informe um número inteiro: '))

# Inicializar o cálculo
fatorial = 1

# nosso contador inicializa com o número máximo
# e será feita uma contagem decrescente com o operador -=
i = num
while i > 0:
    # queremos multiplicar agora o valor do fatorial pelo num
    # e todos os números abaixo dele até 1
    fatorial *= i
    i -= 1

# Imprimir o cálculo do fatorial
print(f'Fatorial de {num} é {fatorial}')

Informe um número inteiro: 10
Fatorial de 10 é 3628800

In [ ]:
# Pedir o número
num = int(input('Informe um número inteiro de 1 a 10: '))

# Vamos gerar a tabuada
print(f'Tabuada do {num}:')
for i in range(1, 11):
    resultado = num * i
    print(f'{num} x {i} = {resultado}')

Informe um número inteiro de 1 a 10: 5
Tabuada do 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
# Solicitamos o número
num = int(input("Digite o número: "))

# Assumimos que o número é primo até que se prove o contrário
eh_primo = True

# Números abaixo de 2 não são primos
if num <= 1 :
  eh_primo = False
else:
    for i in range(2, num):
        # Se o número for divisível por qualquer número dentro deste intervalo,
        # ele não é primo, portanto, mudamos a variável 'eh_primo' para False e saímos do loop.
        if num % i == 0:
            eh_primo = False
            break

# Verifica se 'eh_primo' ainda é True, o que significa que o número passou pelo loop
# sem ser divisível por nenhum número além de 1 e ele mesmo.
if eh_primo:
    # Se for o caso, o número é primo.
    print(f'O número {num} é primo')
else:
    # Caso contrário, o número não é primo.
    print(f'O número {num} não é primo')

Digite o número: 5
O número 5 é primo

In [ ]:
# Coletamos as idades dos clientes
idade = int(input('Informe a idade (ou um número negativo para encerrar): '))

# Inicializamos as variáveis de contadores
contador_0_25 = 0 # contador de idades entre 0 e 25
contador_26_50 = 0 # contador de idades entre 26 e 50
contador_51_75 = 0 # contador de idades entre 51 e 75
contador_76_100 = 0 # contador de idades entre 76 e 100

# nosso código executa sempre até o valor de idade for negativa
while idade >= 0:
    # contamos cada caso
    if idade >= 0 and idade <= 25:
        contador_0_25 += 1
    elif idade >= 26 and idade <= 50:
        contador_26_50 += 1
    elif idade >= 51 and idade <= 75:
        contador_51_75 += 1
    elif idade >= 76 and idade <= 100:
        contador_76_100 += 1

    # Repetir o processo de entrada de dados até que seja digitado um número negativo
    idade = int(input('Informe a idade (ou um número negativo para encerrar): '))

# Mostramos os resultados
print('Distribuição de idades:')
print('[0-25]:', contador_0_25)
print('[26-50]:', contador_26_50)
print('[51-75]:', contador_51_75)
print('[76-100]:', contador_76_100)

Informe a idade (ou um número negativo para encerrar): 10
Informe a idade (ou um número negativo para encerrar): 20
Informe a idade (ou um número negativo para encerrar): -10
Distribuição de idades:
[0-25]: 2
[26-50]: 0
[51-75]: 0
[76-100]: 0

In [ ]:
2
# Inicializamos as variáveis contadoras
votos_candidato1 = 0
votos_candidato2 = 0
votos_candidato3 = 0
votos_candidato4 = 0
votos_nulos = 0
votos_branco = 0

# Início do laço para ler os votos
for i in range(0,20):
    while True:
        try:
            voto_input = input('Informe seu voto: ')
            voto = int(voto_input)
            break
        except ValueError:
            print("Entrada inválida. Por favor, digite um número inteiro.")

    if voto == 1:
        votos_candidato1 += 1
    elif voto == 2:
        votos_candidato2 += 1
    elif voto == 3:
        votos_candidato3 += 1
    elif voto == 4:
        votos_candidato4 += 1
    elif voto == 5:
        votos_nulos += 1
    elif voto == 6:
        votos_branco += 1
    else:
        print("Voto inválido.")

print(f'Votos candidato 1: {votos_candidato1}')
print(f'Votos candidato 2: {votos_candidato2}')
print(f'Votos candidato 3: {votos_candidato3}')
print(f'Votos candidato 4: {votos_candidato4}')
print(f'Votos nulos: {votos_nulos}')
print(f'Votos em branco: {votos_branco}')
print(f'Percentual de votos nulos: {(votos_nulos / 20 * 100)}')
print(f'Percentual de votos em branco: {(votos_branco / 20 * 100)}')

Informe seu voto: 2
Informe seu voto: 3
Informe seu voto: 2
Informe seu voto: 2
Informe seu voto: 2
Informe seu voto: 2
Informe seu voto: 2
Informe seu voto: 2
Informe seu voto: 2
Informe seu voto: 2
Informe seu voto: 2
Informe seu voto: 2
Informe seu voto: 2
Informe seu voto: 2
Informe seu voto: 2
Informe seu voto: 2
Informe seu voto: 2
Informe seu voto: 2
Informe seu voto: 2
Informe seu voto: 2
Votos candidato 1: 0
Votos candidato 2: 19
Votos candidato 3: 1
Votos candidato 4: 0
Votos nulos: 0
Votos em branco: 0
Percentual de votos nulos: 0.0
Percentual de votos em branco: 0.0

# Estruturas de repetição

Quando temos que executar um mesmo bloco de comandos por várias vezes não é muito interessante fazer isso à mão.

Imaginemos a situação de termos que coletar e imprimir a média de duas notas de **3 estudantes**:

In [ ]:
nota_1 = float(input('Digite a 1° nota: '))
nota_2 = float(input('Digite a 2° nota: '))

print(f'Média: {(nota_1+nota_2)/2}')

nota_1 = float(input('Digite a 1° nota: '))
nota_2 = float(input('Digite a 2° nota: '))

print(f'Média: {(nota_1+nota_2)/2}')

nota_1 = float(input('Digite a 1° nota: '))
nota_2 = float(input('Digite a 2° nota: '))

print(f'Média: {(nota_1+nota_2)/2}')

Digite a 1° nota: 6
Digite a 2° nota: 6
Média: 6.0
Digite a 1° nota: 7
Digite a 2° nota: 8
Média: 7.5
Digite a 1° nota: 4
Digite a 2° nota: 8
Média: 6.0

Agora imaginemos uma situação em que não são apenas 3 estudantes, mas sim 100 estudantes. Não seria interessante repetir o mesmo código por 100 vezes, mas sim **executar o mesmo código 100 vezes**.

Essa repetição conseguimos construir com laços de repetição!

## `WHILE`

O laço `while` é uma estrutura de controle de repetição em Python que permite executar um bloco de código repetidamente enquanto uma determinada condição é verdadeira. Sua estrutura é:



```
while condição:
    # bloco de código
```

Vamos construir um exemplo com um contador de 1 até 10.

In [ ]:
contador = 1
while contador <= 10:
  print(contador)
  contador += 1

1
2
3
4
5
6
7
8
9
10

Agora vamos coletar as notas e médias de cada aluno dentro do while. Faremos um exemplo com 3 médias.

In [ ]:
contador = 1
while contador <= 3:
  nota_1 = float(input('Digite a 1° nota: '))
  nota_2 = float(input('Digite a 2° nota: '))

  print(f'Média: {(nota_1+nota_2)/2}')
  contador += 1

Digite a 1° nota: 5
Digite a 2° nota: 6
Média: 5.5
Digite a 1° nota: 7
Digite a 2° nota: 9
Média: 8.0
Digite a 1° nota: 4
Digite a 2° nota: 4
Média: 4.0

In [ ]:
preco = 2.00
preco += 3
print(preco)

5.0

## `FOR`

O laço `for` é um tipo de estrutura de controle de fluxo em Python que permite iterar sobre um conjunto de elementos. A sua estrutura é:



```
for elemento in conjunto:
    # código a ser executado para cada elemento
```

O laço for itera sobre cada elemento do conjunto especificado e executa o bloco de código dentro do laço para cada elemento. Quando o laço chega ao final do conjunto, ele é interrompido e o programa continua a execução após o laço.

O conjunto pode ser gerado com a função [`range()`](https://docs.python.org/3/library/functions.html#func-range). Que é uma função capaz de gerar uma sequência de números inteiros. A estrutura dessa função é:

```
range(inicio, fim, passo)
```

Segundo a documentação, o `range()` gera uma sequência de números inteiros a partir do valor do parâmetro `inicio` até o valor do parâmetro `fim`, de acordo com o valor do parâmetro `passo`. Se `inicio` não for especificado, o valor padrão é 0. Se `passo` não for especificado, o valor padrão é 1.

Vamos fazer o mesmo contador `while` agora com `for`.

In [ ]:
for contador in range(1,11):
  print(contador)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for contador in range(1, 4):
  nota_1 = float(input('Digite a 1° nota: '))
  nota_2 = float(input('Digite a 2° nota: '))

  print(f'Média: {(nota_1+nota_2)/2}')

Digite a 1° nota: 4
Digite a 2° nota: 5
Média: 4.5
Digite a 1° nota: 6
Digite a 2° nota: 7
Média: 6.5
Digite a 1° nota: 5
Digite a 2° nota: 6
Média: 5.5

# Estruturas de dados

Um conjunto de elementos é uma coleção de itens, que são armazenados juntos de maneira organizada. Alguns exemplos de conjuntos de elementos em Python são listas, strings e dicionários.

## Listas

As listas podem armazenar uma coleção de itens em ordem. Eles são delimitados por colchetes `[]` e os itens são separados por vírgulas.

Elas também podem armazenar qualquer tipo de item, incluindo números, strings, objetos e outras listas. Elas também podem armazenar itens de tipos de dados diferentes juntos em uma única lista.

In [ ]:
lista = ['Fabricio Daniel', 9.5, 9.0, 8.0, True]
lista

['Fabricio Daniel', 9.5, 9.0, 8.0, True]

As listas são organizadas em Python porque **cada elemento da lista tem um índice que indica sua posição na lista**. Os índices começam em 0 e vão até o tamanho da lista menos 1.

Temos então 5 elementos com índices variando de 0 a 4, ordenadamente:

```
#             [0]           [1]   [2]   [3]    [4]
lista = ['Fabricio Daniel', 9.5 , 9.0 , 8.0 , True]
```

Em Python temos também os índices **negativos** que se iniciam no último elemento com o valor de `-1` e depois avancam no universo dos negativos até chegar no 1° elemeno:

```
#             [-5]         [-4]  [-3]  [-2]   [-1]
lista = ['Fabricio Daniel', 9.5 , 9.0 , 8.0 , True]
```

Conseguimos selecionar separadamente cada elemento através de seus respectivos índices. Colocando o nome da lista e em seguida o índice a ser selecionado.

In [ ]:
lista[0]

'Fabricio Daniel'

In [ ]:
lista[1]

9.5

In [ ]:
lista[-1]

True

In [ ]:
lista[-3]

9.0

Uma forma mais dinâmica de trabalhar item por item de uma lista é utilizando um laço for para leitura elemento a elemento.

In [ ]:
for elemento in lista:
  print(elemento)

Fabricio Daniel
9.5
9.0
8.0
True

A nota `8.0` de Fabricio Daniel precisa ser ajustada pois ganhou 2 pontos em sua ultima nota por fazer um trabalho de turma. Então é necessária fazer uma troca no valor do índice `3` de `8.0` para `10.0`.

In [ ]:
lista[3] = 10.0
lista

['Fabricio Daniel', 9.5, 9.0, 10.0, True]

conseguimos calcular a média do aluno a partir dos dados que temos

In [ ]:
media = (lista[1] + lista[2] + lista[3])/3
media

9.5

In [ ]:
linguagem = 'Python'

In [ ]:
print(linguagem[0], linguagem[1], linguagem[2], linguagem[-3], linguagem[-2], linguagem[-1])

P y t h o n

In [ ]:
duvida = 'Quem veio antes? O ovo? Ou foi a serpente?'
lista_palavras = duvida.split('?')
print(lista_palavras)

['Quem veio antes', ' O ovo', ' Ou foi a serpente', '']

In [ ]:
duvida = 'Quem veio antes? O ovo? Ou foi a serpente?'
lista_palavras = duvida.split()
print(lista_palavras)

['Quem', 'veio', 'antes?', 'O', 'ovo?', 'Ou', 'foi', 'a', 'serpente?']

In [ ]:
misturas = ['Tintas: vermelho, azul e amarelo',
            'Verde: mistura de azul e amarelo',
            'Laranja: mistura de vermelho e amarelo',
            'Roxo: mistura de vermelho e azul']
unificador = '. '
string_misturas = unificador.join(misturas)
print(string_misturas)

Tintas: vermelho, azul e amarelo. Verde: mistura de azul e amarelo. Laranja: mistura de vermelho e amarelo. Roxo: mistura de vermelho e azul

## Manipulação de listas

As listas são muito úteis em Python porque permitem armazenar e acessar uma coleção de itens de maneira organizada e rápida. Elas também oferecem muitos métodos úteis para manipular os itens armazenados, como adicionar, remover, classificar e pesquisar elementos.

#### Quantidade de elementos

Usamos a função [`len()`](https://docs.python.org/3/library/functions.html#len) para descobrimos a quantidade de elementos de um conjunto.

In [ ]:
len(lista)

5

#### Partição

A partição de listas por indexação em Python é uma técnica muito útil para selecionar um subconjunto de elementos de uma lista. Ela é feita usando a sintaxe `lista[inicio:fim]`, onde `inicio` é o índice do primeiro elemento a ser incluído na partição e `fim` é o índice do primeiro elemento a ser excluído da partição.

In [ ]:
lista[1:4]

[9.5, 9.0, 10.0]

In [ ]:
lista[1:3]

[9.5, 9.0]

In [ ]:
lista[:3]

['Fabricio Daniel', 9.5, 9.0]

In [ ]:
lista[3:]

[10.0, True]

In [ ]:
lista[:]

['Fabricio Daniel', 9.5, 9.0, 10.0, True]

#### [`append()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=of%20list%20objects%3A-,list.append(x),-Add%20an%20item)

Adiciona um elemento ao final da lista.

In [ ]:
lista.append(media)
lista

['Fabricio Daniel', 9.5, 9.0, 10.0, True, 9.5]

#### [`extend()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=list.extend(iterable))

Adiciona vários elementos ao final da lista.

Adicionaremos as notas `[10.0,8.0,9.0]` na lista do Fabricio Daniel

In [ ]:
lista.extend([10.0,8.0,9.0])
lista

['Fabricio Daniel', 9.5, 9.0, 10.0, True, 9.5, 10.0, 8.0, 9.0]

*Isso não é possivel ser feito com o* `append`.

In [ ]:
lista.append([10.0,8.0,9.0])
lista

['Fabricio Daniel',
 9.5,
 9.0,
 10.0,
 True,
 9.5,
 10.0,
 8.0,
 9.0,
 [10.0, 8.0, 9.0]]

#### [`remove()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=append(x).-,list.remove(x),-Remove%20the%20first)

Remove um elemento específico da lista.

In [ ]:
lista.remove([10.0,8.0,9.0])
lista

['Fabricio Daniel', 9.5, 9.0, 10.0, True, 9.5, 10.0, 8.0, 9.0]

In [ ]:
raca_caes = ['Labrador Retriever',
             'Bulldog Francês',
             'Pastor Alemão',
             'Poodle']

In [ ]:
raca_caes.insert(1, 'Golden Retriever')
raca_caes

['Labrador Retriever',
 'Golden Retriever',
 'Bulldog Francês',
 'Pastor Alemão',
 'Poodle']

In [ ]:
raca_caes.pop(1)

'Golden Retriever'

In [ ]:
raca_caes.index('Pastor Alemão')

2

In [ ]:
raca_caes.sort()
raca_caes

['Bulldog Francês', 'Labrador Retriever', 'Pastor Alemão', 'Poodle']

In [ ]:
flores = ['rosa', 'margarida', 'hortencia', 'lirios']

In [ ]:
flores.sort()
flores

['hortencia', 'lirios', 'margarida', 'rosa']

In [ ]:
flores.insert(2, 'girasol')
flores

['hortencia', 'lirios', 'girasol', 'tulipas', 'tulipas', 'margarida', 'rosa']

In [ ]:
flores.remove('tulipas')
flores

['hortencia', 'lirios', 'girasol', 'tulipas', 'margarida', 'rosa']

## Dicionário

Os dicionários são um tipo de estrutura de dados que armazenam pares de *chave-valor*. Eles são delimitados por chaves `{}` e os pares *chave-valor* são separados por vírgulas.

```
dicionário = {chave: valor}
```

A **chave** é um elemento único que identifica um valor no dicionário, enquanto o **valor** é o item que é armazenado para a chave. As chaves e os valores podem ser de **qualquer tipo de dado**.

Os dicionários são úteis para armazenar e acessar dados de maneira organizada e rápida. Eles são um tipo de conjunto de elementos em Python, pois armazenam uma coleção de itens.

In [ ]:
dicionario = {'chave_1':1,
              'chave_2':2}
dicionario

{'chave_1': 1, 'chave_2': 2}

---
**Situação:**

Vamos criar um conjunto de dados com informações de matricula de um estudante. Os dados são os seguintes:

- matricula: 2000168933
- dia de cadastro: 25
- mês de cadastro: 10
- turma: 2E

In [ ]:
cadastro = {'matricula': 2000168933,
            'dia_cadastro': 25,
            'mes_cadastro': 10,
            'turma': '2E'}
cadastro

{'matricula': 2000168933,
 'dia_cadastro': 25,
 'mes_cadastro': 10,
 'turma': '2E'}

In [ ]:
cadastro['matricula']

2000168933

In [ ]:
cadastro['turma']

'2E'

É possível substituir os valores dentro de uma chave. Por exemplo, recebemos a informação que a turma do estudante que cadastramos foi trocada para `'2G'` e agora precisamos trocar o valor da chave `'turma'`.

In [ ]:
cadastro['turma'] = '2G'
cadastro

{'matricula': 2000168933,
 'dia_cadastro': 25,
 'mes_cadastro': 10,
 'turma': '2G'}

Podemos também adicionar outros dados ao dicionário. Vamos adicionar a informação de modalidade de ensino, nosso estudante atuará inicialmente em modalidade EAD.

Então iremos definir uma chave chamada `'modalidade'` e o valor `'EAD'`.

In [ ]:
cadastro['modalidade'] = 'EAD'
cadastro

{'matricula': 2000168933,
 'dia_cadastro': 25,
 'mes_cadastro': 10,
 'turma': '2G',
 'modalidade': 'EAD'}

## Aprofundando em dicionários

#### [`pop()`](https://python-reference.readthedocs.io/en/latest/docs/dict/pop.html)
Remove um item de um dicionário e o retorna.

In [ ]:
cadastro.pop('turma')

'2G'

In [ ]:
cadastro

{'matricula': 2000168933,
 'dia_cadastro': 25,
 'mes_cadastro': 10,
 'modalidade': 'EAD'}

#### [`items()`](https://python-reference.readthedocs.io/en/latest/docs/dict/items.html)
Retorna uma lista de pares chave-valor do dicionário.

In [ ]:
cadastro.items()

dict_items([('matricula', 2000168933), ('dia_cadastro', 25), ('mes_cadastro', 10), ('modalidade', 'EAD')])

#### [`keys()`](https://python-reference.readthedocs.io/en/latest/docs/dict/keys.html)
Retorna uma lista das chaves do dicionário.

In [ ]:
cadastro.keys()

dict_keys(['matricula', 'dia_cadastro', 'mes_cadastro', 'modalidade'])

#### [`values()`](https://python-reference.readthedocs.io/en/latest/docs/dict/values.html)
Retorna uma lista dos valores do dicionário.

In [ ]:
cadastro.values()

dict_values([2000168933, 25, 10, 'EAD'])

### Leitura de valores com `for`

In [ ]:
for chaves in cadastro.keys():
  print(cadastro[chaves])

2000168933
25
10
EAD

In [ ]:
for valores in cadastro.values():
  print(valores)

2000168933
25
10
EAD

In [ ]:
for chaves, valores in cadastro.items():
  print(chaves, valores)

matricula 2000168933
dia_cadastro 25
mes_cadastro 10
modalidade EAD

In [ ]:
loja = {'nomes': ['televisão', 'celular', 'notebook', 'geladeira', 'fogão'],
        'precos': [2000, 1500, 3500, 4000, 1500]}

In [ ]:
for chave, elementos in loja.items():
  print(f'Chave: {chave}\nElementos:')
  for dado in elementos:
    print(dado)

Chave: nomes
Elementos:
televisão
celular
notebook
geladeira
fogão
Chave: precos
Elementos:
2000
1500
3500
4000
1500

In [ ]:
precos = [100.0, 400.0, 200.0]
soma = sum(precos)
soma

700.0

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [ ]:
lista = [1,2,3]
dir(lista)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
valores = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]
soma = sum(valores)/len(valores)
soma

3144.222

In [ ]:
valores = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]
contador_acima_3000 = 0
for valor in valores:
  if valor > 3000:
    contador_acima_3000 += 1
contador_acima_3000
quantidade_compras = len(valores)
porcentagem_acima_3000 = 100 * (contador_acima_3000)/(quantidade_compras)
print(f'{contador_acima_3000} compras foram acima de R$3000,00.')
print(f'{porcentagem_acima_3000}% dos gastos foram acima de R$3000,00.')

7 compras foram acima de R$3000,00.
70.0% dos gastos foram acima de R$3000,00.

In [ ]:
valores = [1, 2, 3, 4]
soma = sum(valores)/len(valores)
soma

2.5

In [ ]:
# Dados de gastos
gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

# Calculamos a média encontrando o valor total de gastos com sum
# e a quantidade total de compras realizadas com len
total_gastos = sum(gastos)
quantidade_compras = len(gastos)
media_gastos = total_gastos / quantidade_compras
# Resultado
print(f'A média de gastos é {media_gastos} reais.')

A média de gastos é 3144.222 reais.

In [ ]:
# Dados de gastos
gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

# Variável que vai contar quantas compras foram feitas acima de 3000
contador_acima_3000 = 0
# Usamos o laço para ler a lista de gastos
for gasto in gastos:
  # Verificamos se o elemento está acima de 3000
  if gasto > 3000:
    # Acrescentamos mais um no contador, caso tenha algum valor acima de 3000
    contador_acima_3000 += 1

# Quantidade Compras
# Variável que vai ser utilizada para o cálculo da porcentagem
quantidade_compras = len(gastos)


# Com a contagem conseguimos calcular a porcentagem de valores acima de 3000 entre todas as compras
porcentagem_acima_3000 = 100 * (contador_acima_3000) / (quantidade_compras)

# Resultado
print(f'{contador_acima_3000} compras foram acima de R$3000,00.')
print(f'{porcentagem_acima_3000}% dos gastos foram acima de R$3000,00.')

7 compras foram acima de R$3000,00.
70.0% dos gastos foram acima de R$3000,00.

In [ ]:
# Lista que irá armazenar os 5 números inteiros
lista_numeros = []

# Criamos um laço que vai iterar 5 vezes para receber os 5 números
for i in range(0, 5):
  # Coletamos o valor e inserimos na lista por 5 vezes
  numero = int(input('Digite um número inteiro: '))
  lista_numeros.append(numero)
#Resultado
print(f'Lista de números inseridos: {lista_numeros}')

Digite um número inteiro: 1
Digite um número inteiro: 4
Digite um número inteiro: 7
Digite um número inteiro: 2
Digite um número inteiro: 4
Lista de números inseridos: [1, 4, 7, 2, 4]

In [ ]:
# Create an empty list to store the numbers
lista_para_ordenar = []

# Collect 5 integers
for i in range(5):
  num_input = int(input(f'Digite o {i+1}° numero inteiro: '))
  lista_para_ordenar.append(num_input)

# Sort the list
lista_para_ordenar.sort(reverse=True)

# Print the sorted list
print(f'Lista de numeros inseridos e ordenados decrescente: {lista_para_ordenar}')

Digite o 1° numero inteiro: 5
Digite o 2° numero inteiro: 2
Digite o 3° numero inteiro: 6
Digite o 4° numero inteiro: 3
Digite o 5° numero inteiro: 4
Lista de numeros inseridos e ordenados decrescente: [6, 5, 4, 3, 2]

In [ ]:
Gabarito da prova:
01 - D
02 - A
03 - C
04 - B
05 - A
06 - D
07 - C
08 - C
09 - A
10 - B

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (ipython-input-3912613960.py, line 2)

In [ ]:
# Inicializamos os dados
respostas = [] # Lista para receber as respostas
# Lista de gabaritos
gabarito = ['D', 'A', 'C', 'B', 'A', 'D', 'C', 'C', 'A', 'B']
nota = 0 # Irá acumular a nota total

# Recebemos as respostas do aluno
for i in range(0, 10):
  respostas.append(input(f'Insira a resposta da questão {i + 1}: ').upper())

# Verificamos se as respostas são iguais e adicionamos à nota
for i in range(0,10):
  if respostas[i] == gabarito[i]:
    nota += 1

# Exibindo nota final
print(f'Nota final: {nota}')

Insira a resposta da questão 1: D
Insira a resposta da questão 2: A
Insira a resposta da questão 3: C
Insira a resposta da questão 4: B
Insira a resposta da questão 5: D
Insira a resposta da questão 6: A
Insira a resposta da questão 7: B
Insira a resposta da questão 8: C
Insira a resposta da questão 9: D
Insira a resposta da questão 10: B
Nota final: 6